# AWS Configuration
AWS_ACCESS_KEY_ID=your_access_key_here
AWS_SECRET_ACCESS_KEY=your_secret_key_here
AWS_DEFAULT_REGION=us-east-1

# Backend Configuration
FLASK_ENV=production
CORS_ORIGIN=*

# Frontend Configuration (for local development)
REACT_APP_BACKEND_URL=http://localhost:3030
GENERATE_SOURCEMAP=false
CI=false